.choice {
  padding: 80px 120px;
}
.choice__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 210px;
}
.choice__info {

}
.choice__subtitle {
  font-weight: 500;
  font-size: 16px;
  color: #424F7B;
  margin-bottom: 12px;
}
.choice__title {
  margin-bottom: 24px;
  white-space: nowrap;
}
.choice__text {
  margin-bottom: 32px;
}
.choice__details {
  display: flex;
  gap: 24px;
  align-items: center;
}
.choice__btn {
  width: 150px;
  height: 50px;
}
.choice__details-more {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0E1734;
}
.choice__options {

}
.options__list {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  counter-reset: list;
}
.options__item {
  font-family: "Montserrat" sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #424F7B;
  counter-increment: list;
  position: relative;
  width: 590px;
  height: 100px;
  padding: 30px 36px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  transition: height .24s ease-in-out;
}
.options__item::before{
  content: counter(list) ". ";
  margin-right: 5px;
}
.options__item-btn {
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  right: calc(590px/100*5.9);
  width: 40px;
  height: 40px;
  transition: background-image .24s ease-in-out;
}
.options__item-btn::after {
  content: "";
  position: absolute;
  background-image: url("../img/Arrow_Down.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  transition: background-image .24s ease-in-out;
}
.options__item-btn:hover{
  background-image: url("../img/circle_active.svg");
  transition: background-image .24s ease-in-out;
}
.options__item-btn:hover::after{
  content: "";
  background-image: url("../img/Arrow_Down_active.svg");
  transition: background-image .24s ease-in-out;
}
.options__item-text {
  position: absolute;
  color: #848FAC;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 18px;
  padding-top: 0;
  transition: opacity .8s ease-in-out padding-top .8s ease-in-out;
}
.options__item-text.hidden{
  display: none;
  transition: display .24s ease-in-out;
}
.options__item.active{
  height: 190px;
  padding: 36px;
  transition: height .24s ease;
}
.options__item.active .options__item-text{
  padding-top: 22px;
  transition: padding-top .4s ease;
}
.options__item.active .options__item-btn{
  background-image: url("../img/circle_active.svg");
  transition: background-image .24s ease-in-out;
  opacity: 1;
  transition: opacity .24s ease-in-out;

}
.options__item.active .options__item-btn:hover{
  opacity: 0.8;
  transition: opacity .24s ease-in-out;
}
.options__item.active .options__item-btn::after{
  content: "";
  background-image: url("../img/Arrow_Down_active.svg");
  transition: background-image .24s ease-in-out;
  opacity: 1;
  transition: opacity .24s ease-in-out;

}
.options__item.active .options__item-btn:hover:after{
  opacity: 0.8;
  transition: opacity .24s ease-in-out;
}